*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*task1
/* .cicrle{
    width: 20px;
    color: red;
}
a{
    text-decoration: none;
}
.head-all{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-left: 1rem;
}
.left{
    align-items: center;
    display: flex;
}
.left a{
    margin-left: 15px;
    color: #666666;

}
.left div button{
    color: blue;
    border: 1px solid blue;
    border-radius: 40px;
    margin-left: 20px;
    padding: 8px;
}

.right{
    display: flex;
}
.right a{
    margin-right: 10px;
    color: #666666;
}
.right i{
    margin-left: 10px;
}
.body{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
#help{
    outline: none;
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 35px;
}
#lgl{
    cursor: pointer;
}
.body i{
    padding: 2rem 1rem 0 0;
    font-size: 24px;
}
.flags{
    width: 7%;
    flex-direction: column;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 60px;
    width: 100px;
    background-color: #CCD1D1;
    text-align: center;
    padding: 0 20px;
}

.skl1{
    display: flex;
}
.skl1 p{
    display: inline-block;
    margin-left: 10px ;
    padding-top: 5px;
}
.skl2{
    display: flex;
}
.skl2 img{
   margin-top: 10px;
   display: inline-block; 

}
.skl2 p{
    display: inline-block;
    margin: 15px 0 0 15px;
}

.flags img{
    display: flex;
    flex-direction: column;
    width: 40%;
}
#closedicon{
    transform: rotate(180deg) !important;
}
#triangle{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #CCD1D1;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 33px;
    transform: rotate(180deg) !important;
}
.middle{
    cursor: pointer;
    display: inline;
}
#Head2{
    background-color:white;
    display: none;
    padding: 35px;
}
#Head3{
    display: none;
}
.active-{
    display: block !important;
}
.active1{
    transform: rotate(180deg) !important;
}
.active2{
    display: inline !important;
} */

/*task2
.circle{
    z-index: 1;
    height: 200px;
    width: 200px;
    background-color: rgb(238, 255, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    clip-path: circle(50% at 50% 50%);


}
.squere {
    z-index: 2;
    height: 100px;
    width: 100px;
    background-color: rgb(11, 11, 129);
    position: absolute;
}



  