@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif;
}

.slider {
  position: relative;
  overflow: hidden;
  
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 50%;
    width: 100%;
    background-color: black;
    z-index: -1;
    
    transition: all .3s ease-in-out;
  }
  
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
.slide__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45vh;
    border-radius: 8px;
  }
  
  &__top {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    height: 50vh;
  }
  
  &__date {
    font-size: 8vw;
    color: white;
    opacity: .6;
  }
  
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    background-color: white;
    height: 50vh;
  }
  
  &__title {
    font-size: 3vw;
    font-weight: 900;
  }
}

.slider-control {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -50%);
  height: 40px;
  width: 40px;
  background-color: #eee;
  cursor: pointer;
  
  z-index: 2;
  
  &.prev {
    border-radius: 0 8px 8px 0;
  }
  
  &.next {
    left: auto;
    right: 0;
    border-radius: 8px 0 0 8px;
  }
}